{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-200">
  <!-- Main container -->
  <div class="container mx-auto p-6">
    <!-- Top Bar with Lesson Title and Chat Button -->
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-4xl font-bold">{{ selected_lesson.title }}</h1>
      <div>
        {% if request.user.is_staff or request.user.is_superuser %}
        <a href="{% url 'add_transcriptions' lesson_slug=selected_lesson.slug %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
          Add Transcriptions
        </a>
        <a class="bg-blue-500 hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" href="{% url 'lesson_chat' lesson_slug=selected_lesson.slug %}">Chat about this Lesson</a>
        {% endif %}
      </div>
    </div>

    <!-- Summary and Analysis Dashboard -->
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-6">
      <!-- Main Content Area -->
      <div class="lg:col-span-8 space-y-4">
        <!-- Lecture Summary -->
        <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-4">
          <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200 mb-3">Lecture Summary</h2>
          <p class="markdown-content text-justify px-4">{{ lecture_summary }}</p>
        </div>

        <!-- Analysis Section -->
        <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-4">
          <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200 mb-3">Detailed Analysis</h2>
          <div class="space-y-3">
            <div class="bg-white dark:bg-white p-2 rounded">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Interdisciplinary Connections:</h3>
              <p class="markdown-content text-justify px-4">{{ selected_lesson.interdisciplinary_connections }}</p>
            </div>
            <div class="bg-white dark:bg-white p-2 rounded">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Real World Applications:</h3>
              <p class="markdown-content text-justify px-4">{{ selected_lesson.real_world_applications }}</p>
            </div>
            <div class="bg-white dark:bg-white p-2 rounded">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Creative Synthesis of Ideas:</h3>
              <p class="markdown-content text-justify px-4">{{ selected_lesson.creative_synthesis_of_ideas }}</p>
            </div>
            <div class="bg-white dark:bg-white p-2 rounded">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Detail Level Comparison:</h3>
              <p class="markdown-content text-justify px-4">{{ selected_lesson.detail_level_comparison }}</p>
            </div>
            <div class="bg-white dark:bg-white p-2 rounded">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Accuracy of Information:</h3>
              <p class="markdown-content text-justify px-4">{{ selected_lesson.accuracy_of_information }}</p>
            </div>
            <div class="bg-white dark:bg-white p-2 rounded">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Direct Concept Comparison:</h3>
              <p class="markdown-content text-justify px-4">{{ selected_lesson.direct_concept_comparison }}</p>
            </div>
            <div class="bg-white dark:bg-white p-2 rounded">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Strengths in Student Understanding:</h3>
              <p class="markdown-content text-justify px-4">{{ selected_lesson.strengths_in_students_understanding }}</p>
            </div>
            <div class="bg-white dark:bg-white p-2 rounded">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Understanding Gaps:</h3>
              <p class="markdown-content text-justify px-4">{{ selected_lesson.understanding_gaps }}</p>
            </div>
            <div class="bg-white dark:bg-white p-2 rounded">
              <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Comparison of Key Concepts:</h3>
              <p class="markdown-content text-justify px-4">{{ selected_lesson.comparison_of_key_concepts }}</p>
            </div>
          </div>
        </div>

      </div>

      <!-- Right Sidebar - Book Section and Transcription Status -->
      <div class="lg:col-span-4 space-y-4">
        <!-- Book Section -->
        {% if selected_lesson.related_class.book %}
        <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-4">
          <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200">Related Book</h2>
          <div><a href="{{ selected_lesson.related_class.book.pdf.url }}">{{ selected_lesson.related_class.book.title }}</a></div>
            {% if section_title and page_number %}
            <p>You may find information related to this lesson in the section "{{ section_title }}" on page {{ page_number }}.</p>
            {% else %}
            <p>Sorry, the information related to this lesson could not be found.</p>
            {% endif %}
        </div>
        {% endif %}

        <!-- Transcription Status -->
        <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-4">
          <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200">Transcription Status</h2>
          <ul>
            <li>Lecture: {% if lecture_exists %} Available {% else %} Not Available {% endif %}</li>
            <li>Student: {% if student_exists %} Available {% else %} Not Available {% endif %}</li>
          </ul>
        </div>

        <!-- Notes Section -->
        {% if notes_exist %}
        <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-4 flex flex-col">
          <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200">Notes</h2>
          {% for note in lesson_notes %}
          <iframe src="{{ note.file.url }}" class="w-full h-[500px] mt-4"></iframe>
          <!-- <embed src="{{note.file.url}}" type="application/pdf" width="100%" height="600px" /> -->
          <a href="{{ note.file.url }}" class="text-gray-500 text-sm font-normal italics py-2 hover:text-blue-300" target="_self">Open note</a>
          {% endfor %}
        </div>
        {% endif %}

        <!-- Concepts Section -->
        <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-4">
          <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-200">Concepts</h2>
          <div class="space-y-2">
            {% for concept in lesson_concepts %}
            <div class="bg-gray-200 dark:bg-gray-700 rounded p-2 flex justify-between items-center">
              <!-- <p class="bold">{{ concept.title }}</p> -->
              <p class="markdown-content text-justify">{{ concept.description }}</p>
              <button onclick="deleteConcept('{{ concept.id }}')" class="text-red-600 hover:text-red-800">&times;</button>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  function deleteConcept(conceptId) {
    if (confirm('Are you sure you want to delete this concept?')) {
      fetch(`/delete_concept/${conceptId}/`, {
        method: 'DELETE',
        headers: {
        }
      })
      .then(response => {
        if (response.ok) {
          location.reload();
        } else {
          alert('Error deleting concept.');
        }
      });
    }
  }
</script>

<!-- MathJax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<style>
  .markdown-bold {
      font-weight: bold;
  }
  .markdown-list {
      white-space: pre-line; /* This style will ensure that the newline characters are rendered */
  }
  .math-display {
      text-align: center;
      margin: 20px 0;
  }
</style>

<script>
  function deleteConcept(conceptId) {
    if (confirm('Are you sure you want to delete this concept?')) {
      fetch(`../../delete_concept/${conceptId}/`, {
        method: 'DELETE',
        
      })
      .then(response => {
        if (response.ok) {
          location.reload();
        } else {
          alert('Error deleting concept.');
        }
      });
    }
  }
</script>

<script>
  function applyMarkdownStyles(text) {
    // Replace Markdown-like bold syntax **text** with HTML <strong> tags
    text = text.replace(/\*\*(.*?)\*\*/g, "<strong>$1</strong>");

    // Add newline before numbers followed by a dot and a whitespace
    text = text.replace(/(\d+\.\s)/g, "\n$1");

    // Add newline before ' - ' pattern
    text = text.replace(/(\s-\s)/g, "\n$1");

    // Wrap LaTeX equations in MathJax delimiters
    text = text.replace(/\\\((.*?)\\\)/g, "<span class='math-inline'>\\($1\\)</span>");
    text = text.replace(/\\\[(.*?)\\\]/g, "<div class='math-display'>\\[$1\\]</div>");

    return text;
  }

  // Query all relevant elements and apply the Markdown styles
  document.querySelectorAll('.markdown-content').forEach(element => {
    // Use innerText to get the text content to avoid interpreting the content as HTML
    const processedText = applyMarkdownStyles(element.innerText);

    // Then, set innerHTML to update the formatting
    element.innerHTML = processedText;
    element.classList.add('markdown-list'); // Add class to handle newlines
  });

  // Trigger MathJax typesetting
  MathJax.typeset();
</script>
{% endblock %}
