{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-200">
  <!-- Navigation and Top Bar Here -->

  <!-- Main dashboard container -->
  <div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <!-- Form Container -->
      <div class="flex justify-center mb-4">
        <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden p-6">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200 mb-4">Process PDF</h3>
          <form method="post" enctype="multipart/form-data" id="pdfForm" class="space-y-4">
            {% csrf_token %}
            <div class="mb-4">
              {{ form.pdf.label_tag }}
              {{ form.pdf }}
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 dark:bg-blue-600 dark:hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">Upload and Process PDF</button>
          </form>
          <div class="loader mt-4" id="loader"></div>
          {% if processed %}
            <a href="{% url 'download_processed_files' %}" id="downloadButton" class="bg-green-500 hover:bg-green-600 dark:bg-green-600 dark:hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out mt-4">Download Processed Files</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
    margin: 0 auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<script>
  $(document).ready(function() {
    $('#pdfForm').on('submit', function() {
      $('#loader').show();
    });

    {% if processed %}
      $('#downloadButton').show();
    {% endif %}
  });
</script>
{% endblock %}
