{% extends 'base.html' %}
{% load static %}

{% block title %}Chat Interface{% endblock %}

{% block content %}
<!-- Container adjusted for navbar height using Tailwind CSS -->
<div class="flex flex-col md:flex-row h-[calc(100vh-4rem)] bg-[#171717] text-white overflow-hidden">
    <!-- Chat History Sidebar -->
    <aside class="w-full md:w-64 lg:w-1/5 xl:w-1/6 overflow-y-auto bg-[#2c2c2c] p-4">
        <ul id="chatSessionsList">
            {% for session in chat_sessions %}
                <li class="py-2 border-b border-gray-700 cursor-pointer" data-session-id="{{ session.id }}" onclick="loadSession('{{ session.id }}')">{{session}} ({{ session.messages.count }} Msgs)</li>
            {% endfor %}
        </ul>
    </aside>
    
    <!-- Chat Main Area -->
    <main class="flex-1 flex flex-col">
        <!-- Chat Container -->
        <div class="flex-1 flex flex-col p-6 overflow-hidden">
            <!-- AI Model Selection -->
            <div class="mb-4">
                <select id="aiModelSelect" class="bg-[#292929] text-white p-2 rounded-md">
                    {% for model in ai_models %}
                        <option value="{{ model.slug }}">{{ model.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Chat Messages -->
            <div id="chat" class="flex-1 mb-4 p-4 bg-[#202020] overflow-y-auto rounded-lg">
                <!-- Chat messages will be dynamically added here -->
            </div>
            
            <!-- Message Input Area -->
            <div class="flex">
                <input type="text" id="messageInput" class="flex-1 p-2 border-gray-300 rounded-l-lg focus:outline-none focus:ring bg-[#292929] text-white" placeholder="Type your message...">
                <button id="sendMessage" class="bg-blue-500 hover:bg-blue-600 text-white px-4 rounded-r-lg">Send</button>
            </div>
        </div>
    </main>
</div>

<script>
let currentSessionId = '{{ current_session_id }}';

function loadSession(sessionId) {
    currentSessionId = sessionId;
    fetch(`../fetch-messages/${sessionId}/`, {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        },
        credentials: 'include',
    })
    .then(response => response.json())
    .then(data => {
        const chatWindow = document.getElementById('chat');
        chatWindow.innerHTML = '';  // Clear current chat messages
        data.messages.forEach(msg => {
            // Updated message display
            const messageDiv = document.createElement('div');
            messageDiv.className = msg.is_user_message ? 'bg-blue-500 text-white p-2 my-2 rounded-lg max-w-xs ml-auto' : 'bg-gray-700 text-white p-2 my-2 rounded-lg max-w-xs';
            messageDiv.textContent = msg.text;
            chatWindow.appendChild(messageDiv);
        });
    })
    .catch(error => console.error('Error:', error));
}

document.getElementById('sendMessage').addEventListener('click', function() {
    var messageInput = document.getElementById('messageInput');
    var aiModelSelect = document.getElementById('aiModelSelect');
    var message = messageInput.value.trim();
    var modelSlug = aiModelSelect.value;
    
    if (message === "") {
        alert("Please enter a message.");
        return;
    }

    fetch("{% url 'chat_view' %}", {
        method: "POST",
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({
            'message': message,
            'model_slug': modelSlug,
            'session_id': currentSessionId
        })
    })
    .then(response => response.json())
    .then(data => {
        const chatWindow = document.getElementById('chat');
        // Display user message
        const userMessageDiv = document.createElement('div');
        userMessageDiv.className = 'bg-blue-500 text-white p-2 my-2 rounded-lg max-w-xs ml-auto';
        userMessageDiv.textContent = message;
        chatWindow.appendChild(userMessageDiv);

        // Display assistant's response
        if (data.response) {
            const responseElement = document.createElement('div');
            responseElement.className = 'bg-gray-700 text-white p-2 my-2 rounded-lg max-w-xs';
            responseElement.textContent = data.response;
            chatWindow.appendChild(responseElement);
        }

        chatWindow.scrollTop = chatWindow.scrollHeight;
        messageInput.value = '';
    })
    .catch(error => console.error('Error:', error));
});
</script>

<script>
    document.getElementById('messageInput').addEventListener('keydown', function(event) {
    // Check if the Enter key is pressed without the Shift key
    if (event.key === 'Enter' && !event.shiftKey) {
        event.preventDefault(); // Prevent the default action to avoid line breaks in input or form submission
        document.getElementById('sendMessage').click(); // Programmatically click the send button
    }
});

</script>
{% endblock %}
