{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Alejandro Garcia Polo - Meal Planner{% endblock %}

{% block content %}
<div id="mainBackground" class="flex flex-col justify-center items-center w-full h-full">
    <div id="mainCard" class="flex flex-col mx-auto bg-white my-8 rounded-md w-[70vw] p-6 shadow-lg">
        <h2 class="text-2xl font-semibold text-center mb-4">Welcome to Your Meal Planner</h2>

        <!-- Weekly Planner -->
        <div class="grid grid-cols-1 md:grid-cols-7 gap-4 mb-8">
            {% for day in week_days %}
            <div class="border border-gray-200 rounded-lg p-4 hover:shadow-md transition-shadow duration-300">
                <h3 class="text-lg font-semibold mb-3">{{ day|date:"F j, Y" }}</h3>
                {% with meal=meals_by_day|get_item:day %}
                    {% if meal %}
                        <a href="{% url 'meal_detail' day=day %}" class="text-blue-500 hover:text-blue-700 font-medium">{{ meal.name }}</a>
                    {% else %}
                        <p class="mt-4">No meal planned</p>
                    {% endif %}
                {% endwith %}
            </div>
            {% endfor %}
        </div>



        <!-- Weekly Nutrition Stats -->
        <div class="border border-gray-200 rounded-lg p-4 mb-8">
            <h3 class="text-lg font-semibold mb-3">Weekly Nutrition Stats</h3>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
                <div>Calories: <span>{{ weekly_nutrition.total_calories }}</span></div>
                <div>Fat: <span>{{ weekly_nutrition.total_fat }}</span></div>
                <div>Protein: <span>{{ weekly_nutrition.total_protein }}</span></div>
                <div>Carbs: <span>{{ weekly_nutrition.total_carbohydrates }}</span></div>
                <div>Sugars: <span>{{ weekly_nutrition.total_sugars }}</span></div>
                <div>Sodium: <span>{{ weekly_nutrition.total_sodium }}</span></div>
            </div>
        </div>


        <!-- Check if items are done -->
        <div class="border border-gray-200 rounded-lg p-4">
            <h3 class="text-lg font-semibold mb-3">Are these done?</h3>
            <p>These items have been used recently, are they done?</p>
            <!-- Placeholder for items list -->
        </div>

    </div>
</div>
{% endblock %}
