Privacy Policy for Cocoland

Introduction

My name is Alejandro Garcia Polo, and I am the independent developer of Cocoland. This Privacy Policy is to inform users regarding the handling of data within Cocoland.

Information Collection and Use

For a better experience while using Cocoland, I inform you that I do not collect any form of information from the users of my application. The app does not request, gather, or track any personal or non-personal information from its users.


Children’s Privacy

This application does not address anyone under the age of 13. I do not knowingly collect personally identifiable information from children under 13. In the case I discover that a child under 13 has provided me with personal information, I immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact me so that I will be able to do necessary actions.

Changes to This Privacy Policy

I may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. I will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.

Contact Me

If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at alejandrogarcia2423@hotmail.com .